* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #eee;
}
a {
    color: inherit;
    text-decoration: none;
}


header {
    background-color: #eee;
    box-shadow: 0 0 16px 0 rgba(0,0,0,0.8);
    padding: 15px 15px 0 0;
    position: relative;
    z-index: 3;
}
.github {
    position: absolute;
    top: 15px;
    right: 10px;
    margin-top: -8px;
}
.mobile {
    display: none;
}
header h2 {
    margin: 2px 0 0 15px;
    padding-bottom: 19px;
}
header img {
    transform: translateY(30%);
}

div.banner {
    z-index: 1;
    background-image: url('./assets/banner.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0 -5vh;
    height: 30vh;
}

div.content {
    z-index: 3;
    box-shadow: 0 -10px 16px -8px rgba(0,0,0,0.8);
}


div.content {
    padding: 15px 0 40px 15px;
}

div.content form {
    margin-top: 15px;
}


/* Responsive Style */
@media screen and (max-aspect-ratio: 1/1) {

    div.banner {
        height: 60px;
    }

    .header {
        display: none;
    }

    .mobile {
        display: inherit;
        bottom: 10px;
        top: inherit;
    }
}